<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Fullstack</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/flexboxgrid.css">
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
    
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            Agrotools
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
          <a href="/">Home</a>
          <a href="/novo">Novo Questionário</a>
        </div>
    </div>

    <div class="container-fluid">
      <h3>Novo Questionário</h3>
      <div id="blocoPerguntas" class="row shadow-sm bg-white">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <h4>Teste</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <h4>Teste</h4>
        </div>
      </div>
      <div class="row">
        <a class="btn-nova-pergunta">Nova Pergunta</a>
      </div>
  </div>

  <script src="/js/script.js"></script>

</body>
</html>