<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Fullstack</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/flexboxgrid.css">
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
    
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            Agrotools
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
          <a href="/questionarios">Home</a>
          <a href="/novo">Novo Questionário</a>
        </div>
    </div>

    <div class="container-fluid">
        <h2>Questionários</h2>
        <div class="row">
            <% questionarios.forEach(function(questionario) { %>
              <a class="linkQuestionario" href="/questionarios/<%= questionario.id %>">
                <div class="itemQuestionario col-xs-12 bg-white">
                    <span class="tituloQuestionario"><%= questionario.titulo %></span>
                    <span class="autorQuestionario">Autor: <%= questionario.usuario %></span>
                    <span class="statusQuestionario">Status: 
                    <%
                      respostas.forEach(function(resposta) {
                        if(resposta.questionario_id == questionario.id){
                          if(resposta.respostas.length > 0){
                            %>Respondido<%
                          } else {
                            %>Aberto<%
                          }
                        }
                      })
                    %>
                    </span>
                </div>
              </a>
            <% }) %>
        </div>
    </div>

</body>
</html>