* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
    background-color: #efefef;
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  .bg-white{
      background-color: #fff;
  }

  .input-pergunta {
    width: 100%;
    border: none;
    border-bottom: 1px solid #afafaf;
    height: 2.2em;
    padding: 0 0.4em;
  }

  .input-pergunta:focus {
    outline: none;
    border-bottom: 2px solid;
  }

  .btn{
    margin-left: 0;
    border-radius: 1px;
    transition: all 0.3s ease-in-out;
    padding: 0.4em 0.7em;
    cursor: pointer;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

  .btn:hover{
    margin-left: 1px;
    padding: 0.45em 0.75em;
    box-shadow: -0.1rem 0.525rem 0.85rem rgba(0, 0, 0, 0.1);
  }

  .btn-nova-pergunta{
    background-color: #43d97a;
    color: white;
  }

  .btn-remover-pergunta{
    cursor: pointer;
  }

  .itemQuestionario{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

  .itemQuestionario:hover{
    margin-left: 5px;
    margin-right: -5px;
    margin-top: -0.20rem;
    padding: 1.1rem;
    box-shadow: -0.1rem 0.525rem 0.85rem rgba(0, 0, 0, 0.1);
  }

  .linkQuestionario{
    width: 100%;
    text-decoration: none;
  }

  .tituloQuestionario {
    display: block;
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 0.3rem;
  }

  .autorQuestionario {
    display: block;
    font-size: 0.7rem;
    color: #777;
  }

  .statusQuestionario {
    display: block;
    font-size: 0.7rem;
    color: #777;
  }

  .btn-criar-questionario {
    border: none;
    color: #fff;
    background-color: green;
    font-size: 18px;
    float: right;
  }

  .btn-enviar-respostas{
    border: none;
    color: #fff;
    background-color: green;
    font-size: 18px;
  }